/* Caraousel Arrows */

.slick-arrow-left {
    position: absolute;
    z-index: 10;
    font-size: 18px;
    color: navy;
    top: 45%;
    left: 0px;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 2em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  
  .left-arrow,
  .right-arrow {
    padding-top: 10px;
  }
  
  .slick-arrow-left:hover {
    color: black;
  }
  
  .slick-arrow-right {
    position: absolute;
    z-index: 10;
    font-size: 18px;
    color: navy;
    top: 45%;
    right: 0px;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 2em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  
  .slick-arrow-right:hover {
    color: black;
  }
  