.box{
    border-left: 350px solid rgb(3, 3, 148);
    border-bottom: 750px solid transparent;
    box-sizing: border-box;
}
.color{
    background-color: rgb(3, 3, 148);
}
.center{
    transform: translate(-500%, 50%);
}